body {
    font-family: 'Roboto', sans-serif;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;

}

.header-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}

.header-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

.main-logo {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #fff;
    text-align: center;
}

.main-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: #fff;
    background-color: #2196F3;
}

.main-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.main-item-logo {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}

.main-logo2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    text-align: center;
}

.main-logo3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    text-align: center;
}

.footer-adr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
}

.footer-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: gray;
}

.header-item:hover {
    color: #2196F3;
}

.header-text:hover {
    color: #2196F3;
}

.main-button-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
}

.main-button-portfolio:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

.main-cards-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.main-cards-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #757575;
}
.main-section-logo {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
}
.main-section-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        color: #757575;
}
.logo-span{
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: black;
}
.logo-span2{
    color: #fff;
}
.footer{
  background-color:#2F303A;
}
.main-section-buy{
    background-color: #2F303A;
}